
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-image: url(../img/fondo2.jpg ) ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    font-family: 'Indie Flower', cursive;
    font-family: 'Roboto Slab', serif;
    color: white;
}


.logo {
    width: 100px ;
}

.nav{ 
    background-color: rgb(255, 255, 255);
    opacity: 0.9;   
    z-index: 1; 
    font-family: 'Indie Flower', cursive;
    font-family: 'Roboto Slab', serif;
    color: white;
}

.nav a {
    color: rgb(160, 97, 25);
    font-size: 1.5rem;
}



.button {
    background-color: rgb(177, 137, 107);
    
}

.button2{
    background-color: rgb(177, 137, 107);
    border-radius: 10px;
    padding: 1%;
}


.h1titulo{

    font-size: 4.5rem;
    text-align: start;
    padding: 40px ;
    margin-right: 50%;
    
}

h1{
    text-align: center;
    padding: 20px;
    margin: 20px;
    font-size: 2.0rem;
    font-style: italic;
}


.imagenB{
    width: 600px;
    opacity: 1.9;    
}
   
.footer{
    color: rgb(131, 134, 137);
    font-style: italic;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    font-family: 'Courier New', Courier, monospace
    
}

.footer :hover{
opacity: 0.6;
width: 35px;
}


.imgbody{
    padding: 30px;
}

.border{
    background-color: rgb(100, 101, 101);
}




.imgf{
    width: 30px;
    border-radius: 10px;
    margin-left: 10px;
}

.form{
    width: 600px;
    margin: 0 auto;
    padding: 50px;
    font-size: 1.5rem;
}

.slogan{
    text-align: center;
    font-size: 1.5rem;
    font-style: bold;
    margin-top: 80px;
    color: rgb(131, 134, 137);


}

