




body{
    background-image: url(../img/fondo2.jpg ) ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.logo {
    width: 100px ;
}

.nav{ 
    background-color: rgb(255, 255, 255);
    opacity: 0.9;   
    z-index: 1; 
}

.nav a {
    color: rgb(160, 97, 25);
    font-size: 1.5rem;
}



.button {
    background-color: rgb(177, 137, 107);
}


.imagenB{
    width: 600px;
    opacity: 1.9;
    

}
   
.footer{
    color: rgb(131, 134, 137);
    font-style: italic;
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    font-family: 'Courier New', Courier, monospace
    
    
    
}

.footer p{
    align-content: center;
  
   
}

.imgf{
    width: 30px;
    border-radius: 10px;
    margin-left: 10px;
  

}

