main{
    
    h1{
        text-align: center;
        padding: 20px;
        margin: 20px;
        font-size: 2.0rem;
        font-style: italic;
    }

    .imgbody{
        padding: 30px;
    }
    .border{
        background-color: rgb(100, 101, 101);
    }


}