main{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title{
        font-size: 6rem;
        padding: 100px;


        font-family: 'Oswald', sans-serif;
    }
    .slogan{
        justify-content: center;
        p{
            font-size: 1.5rem;
            font-family: 'Oswald', sans-serif;
            text-align: center;
            &:hover{   
                color: rgb(255, 255, 255);
                @include hover-cuadrado;
            }   
            a{
                text-decoration: none;
            }   
        }   
    }
    .container{
        margin-top: 50px;
        h2{
            text-align: center;
            font-size: 6vw;
            padding: $pad;
        }
        .cajaindex{
            display: flex;
            justify-content: center;
            img{
                width: 400px;
                padding: 5px;
            }


        }

    }
}
