main{
    .h1titulo{
        font-size: 6vw;
        text-align: start;
        padding: 40px ;
        margin-right: 50%;
        
    }
    .slogan{
        text-align: center;
        font-size: 1.5rem;
        font-style: bold;
        margin-top: 80px;
        color: rgb(131, 134, 137);
    }

}