main{ 


    margin: 0 auto;
    padding: 40px;

    .row{
        .col-6 mx-auto  {
            background: white;
            color: black;
            h2{
                text-align: center;
                padding: 20px;
                margin: 20px;
                font-size: 2.0rem;
                font-style: italic;
                

            }
            p{

            }
    
        }
        .col-6{
            width: 600px;
            opacity: 1.9;    
        }
    }
}
   
