header{

    nav{
        background-color: rgb(255, 255, 255);
        opacity: 0.9;   
        z-index: 1; 
        font-family: 'Indie Flower', cursive;
        font-family: 'Roboto Slab', serif;
        color: white;
        .logo{
            width: 100px ;
        }
        .button {
            background-color: rgb(177, 137, 107);
            
        }
        a {
            color: rgb(160, 97, 25);
            font-size: 1.5rem;
        }
    }
}